@font-face {  font-family: Asap; src: url('Asap.ttf') format("truetype");}
@font-face {font-family: Open; src: url('Open.ttf') format("truetype");}
body{
  background-color: #f6edda;
  margin:0px;
}
h1{
  font-family: Asap semibold;
  color: #ee6d38;
}
p{
  font-family:Open;
}
h6{
  font-family:Open;
  color: #e7445c;
  font-size:20px;
  text-align:center;
}
h5{
  font-family:Open;
  color: #ee6d38;
  font-size:20px;
  margin-top:5px;
  margin-bottom:-35px;
}
.holder{
  display:flex;
  justify-content:space-around;
  margin-top:5%;
}
.content{


}
.grow { transition: all .5s ease-in-out;
				position:relative;
			}
.grow:hover { transform: scale(1.1); 
				z-index: 1; position:relative}
#rcorner{
  border-radius:25px;
  border: 2px solid #e7445c;
  padding:10px;
  width:200px;
}
.nav{

  margin-top:-15px;
  padding-top:0px;
  margin-bottom: 5%;
}
.main{
  display: flex;
}
.vertline{
  border-left: 2px solid #ee6d38;
  height:100px;
}
.leftmain{
  display:inline-block;
  margin-left:10%;

}
.rightimage{
  justify-content:flex-end;
  margin-left:10%;
  margin-right:0;
}
.righticons{

  justify-content:flex-end;
  margin-left: 5px;
  margin-right:2px;
}
.topbar{
  display:inline-block;
  margin-left: 5%;
}
.topimage{
  display: inline-block;
  margin-left:2%;
}
